body {
    background: #1abc9c;
    background: -moz-linear-gradient(top, #1abc9c 0%, #34495e 100%);
    background: -webkit-linear-gradient(top, #1abc9c 0%,#34495e 100%);
    background: linear-gradient(to bottom, #1abc9c 0%,#34495e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#34495e',GradientType=0 );
    height: 100vh;
}